* {
    padding: 0px;
    margin: 0px;
}

.note {
    margin-top: 150px;
    border: 3px solid rgb(152, 115, 60);
    padding: 10px;
    
}

.dot-container{
    padding: 10px; 
    background-color: rgb(43, 47, 47);
    border: 3px solid rgb(10, 241, 229);
}

.dot{
    padding: 8px;
    border: none;
    border-radius: 50%;
}

.dot1{
    background-color: red;
    
}
.dot2{
    background-color: rgb(244, 191, 79);
    margin-left: 4px;
}
.dot3{
    background-color: green;
    margin-left: 4px;
}

.text-area{
    padding: 20px;
    font-size: 19px;
    font-weight: 500;
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
    margin-top: 10px;
    width: 100%;
    border: 0.5px solid rgb(147, 207, 220);
    border-radius: 12px;
    border-bottom-right-radius: 20px;
    
    background-image: url("card1.jpg");
    background-size: cover;

}

.button-container{
   
    padding: 5px;
    margin-top: 5px;
}
.button{
    width: 96px;
    border: none;
    font-size: 15px;
    font-style: italic;
    background-color: rgba(141, 37, 172, 0.83);
    margin: auto;
    padding: 6px;
    border-radius: 10px;
    color: white;
}


.notes-container{
    padding: 1px;
    border-radius: 10px;
    margin-top: 3px;
    background-image: url("card3.jpg");
    background-size: cover;
}
.notes-item{
    width: 93%;
   margin-top: 1px;
}
.paragraph{
    padding-left: 10px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 23px;
    color: rgb(44, 4, 4);
    font-weight: 510;
    height: 100%;
}
.delete-icon{
    padding: 1px;
    font-size: 25px;
    margin: auto;
    
}